.edit_content_area{
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    max-width: 935px;
    margin: 30px auto 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #EDEDED;
    border-radius: 3px;
    box-sizing: border-box;
    flex-direction: row;
}

.edit_content_left{
    border-right:1px solid #EDEDED;
    width: 200px;
}

.metatag{
    margin-top: 28px;
}

.profile_edit_image{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.edit_profile{
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    justify-content: flex-start;
    margin: 32px 0 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

ul{
    list-style-type: none;
}

.fs-4{
    font-size: 16px;
}

.mt-4{
    margin-top: 16px;
}

a{
    color: #26A3F7;
}

@media (min-width: 736px) {
    .profile_edit_image{
        margin: 2px 32px 0 32px;
    }
}