.total_account{
    color: rgb(38, 38, 38);
    display: flex;
    max-width: 350px;
    margin-top: 12px;
}
.account-container{
    margin: 0px 40px 40px;
}
.account_box{
    border:1px solid rgba(219, 219, 219, 1);
    align-items: center;
    max-width: 350px;
    height: min-content;
    padding: 10px 0;
    margin-bottom: 10px;
}
.account_msg{
    font-size: 17px;
    font-weight: 600;
    color: rgb(142, 142, 142);
    margin-bottom: 10px;
}
.account_facebook{
    justify-content: center;
    font-weight: 600;
    border-radius: 8px;
    padding: 7px 16px;
    background-color: #0095F6;
    font-size: 14px;
    color: #fff;
}
.account-text{
    padding: 7px 16px;
}
.account-ac{
    font-size: 14px;
    color: rgb(0, 149, 246);
    margin-top: 15px;
}
.round-lg{
    border-radius: 8px;
}
.facebook_logo{
    height: 16px;
    width: 16px;
    background-color: #fff;
    color: #0095F6;
    font-weight: 700;
    margin-right: 8px;
}
.call-info{
    margin: 10px 0;
    font-size: 12px;
    color: rgb( 142, 142, 142);
}
.account-more{
    color: rgb(38, 38, 38);
}
.mt-3{
    margin-top: 1.5rem;
}
.font-red{
    color: #EE4E5A;
}
.cursor{
    cursor: pointer;
}
